<h1> Form Experiments </h1>

<form action="/goodbye">
  <label for="alice">first thing</label>
  <input id="alice" type="text" name="zebra">

  <label for="bob">second thing</label>
  <input id="bob" type="text" name="giraffe">

  <button>Go to /goodbye</button>
</form>
