<h1>Calculate the payment with APR</h1>

<form action="/payment/results">
  <label for="elephant">APR</label>

  <input id="elephant" type="text" name="users_apr" placeholder="E.g 4.21">

   <label for="hippo">Number of years</label>

  <input id="hippo" type="text" name="users_year" placeholder="How many years to repay?">

   <label for="hyena">Principal</label>

  <input id="hyena" type="text" name="users_principal" placeholder="How much does it cost?">

  <button>Calculate monthly payment</button>
</form>
