<h1>Calculate a random number</h1>

<form action="/random/results">
  <label for="alligator">Minimum</label>

  <input id="alligator" type="text" name="users_min" placeholder="E.g 1">

   <label for="croc">Maximum</label>

  <input id="croc" type="text" name="users_max" placeholder="E.g 200">




  <button>Pick random number</button>
</form>
